*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --Fonte: "Lato", sans-serif;
    --corbg: #ffffff;
    --corbuttons: rgb(138, 43, 226);
    --corHover: rgb(180, 18, 185);

}

body{
    background-image: url(black-texture.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--corbg);
    width: 350px;
    border-radius: 30px;
}


  img{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   margin: 20px;
}

  h1{
   font-size: 3rem;
   color: blueviolet;
      
}

  p{
   margin: 10px 0px 20px 0px ;
   font-size: 1rem;
   color: rgb(0, 0, 0);
   text-align: center;
   margin: 10px ;
   font-family: var(--Fonte);
}

  a{
   background: rgb(138, 43, 226);
   color: #ffffffff;
   text-align: center;
   font-size: 1.3rem;
   margin: 10px;
   border-radius: 40px;
   width: 90%;
   padding: 20px;
   transform-style: preserve-3d;
}

  a:hover{
   background: rgb(180, 18, 185);

}